<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Student Registration form</title>
</head>
<body>
    <h3>Student Registration Form</h3>

<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
    First name: <input type="text" th:field="*{firstName}"/>
    <br><br>

    Last name: <input type="text" th:field="*{lastName}"/>

    <br><br>

    Country:
    <!--
    <select th:field="*{country}">
        <option th:value="India">India</option>
        <option th:value="USA">USA</option>
        <option th:value="Brazil">Brazil</option>
    </select> -->
    <select th:field="*{country}">
        <option th:each="tempCountry:${countries}" th:value="${tempCountry}" th:text="${tempCountry}" />
    </select>
    <!-- loop over the list of countries ,tempCountry is temp loop variable value is for submission and text is for displaying to the user -->
    <br><br>

    Favorite Programming Language:
    <!--
    <input type="radio" th:field="*{favoriteLanguage}" th:value="Go">Go</input>
    <input type="radio" th:field="*{favoriteLanguage}" th:value="Java">Java</input>
    <input type="radio" th:field="*{favoriteLanguage}" th:value="Python">Python</input>
    <input type="radio" th:field="*{favoriteLanguage}" th:value="C">C</input>
    -->

    <input type="radio" th:field="*{favoriteLanguage}"
                                th:each="templang:${languages}"
                                th:value="${templang}"
                                th:text="${templang}"/>
    <br><br>

    Favorite Operating Systems:
    <!--
    <input type="checkbox" th:field="*{favoriteSystems}" th:value="Linux">Linux</input>
    <input type="checkbox" th:field="*{favoriteSystems}" th:value="macOS">macOS</input>
    <input type="checkbox" th:field="*{favoriteSystems}" th:value="'Microsoft Windows'">Microsoft Windows</input>
-->
    <input type="checkbox" th:field="*{favoriteSystems}"
                            th:each="tempSystem:${systems}"
                            th:value="${tempSystem}"
                            th:text="${tempSystem}"/>
    <br><br>
    <input type="submit" value="Submit" />

</form>
</body>
</html>